<head>
  <title>about me</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="container text-center">
    <h1>this page is about the creator</h1>
    <p>Hi, m name is Barly Djaja, i have a degree in engineering and currently learning django.
      this is my first django project which is building a random password generator</p>
      <br>
      <p>I'm using Python programming language, and djangoproject framework to build this project. I'm using tutorial from zappy code</p>

      <p>if you want to contact me through social media, you can find my <span> <b>linked.in</b> </span> below</p>

      <a href="https://www.linkedin.com/in/barly-djaja-a5a284159/" target="_blank">Barly Djaja</a>
      <br>
      <br>
      <br>
      <br>
      <a href="{% url 'home' %}" class="btn btn-dark">back to homepage</a>
  </div>

</body>
